$blue: #335DCB;
$cyan: #45bbed;
$red: #c91818;
$orange: #e0691f;
$pink: #e041bb;
$salmon: #db1953;
$olive: #6fad17;
$green: #067811;
$purple: #8118ba;
$violet: #b316c4;
$yellow: #f5e20f;
$amber: #fab011;
