@import '../../scss/states-indicator.scss';

.dropdown {
    min-width: 25rem;
    width: 100%;
    padding: .8rem 0;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--light-highlight-color);
    box-shadow: 0 .2rem .6rem var(--main-shadow-color);
}

.dropdown-button {
    padding: 1.6rem 2rem;
    border: none;
    display: flex;
    background-color: transparent;
    color: var(--main-text-color);
    cursor: pointer;
    @include statesIndicator;
}

.dropdown-divider {
    width: 100%;
    height: .1rem;
    background-color: var(--secondary-border-color);
}
