@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*, *::after, *::before {
  position: relative;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  display: grid;
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, button {
  white-space: nowrap;
}

a {
  text-decoration: none;
}

#root {
  padding-left: 270px;
  display: grid;
}
