:root {
    --main-text-color: #f8f8f8;
    --secondary-text-color: #d3d3d3;
    --main-background: #242424;
    --highlight-background: #121212;
    --light-highlight-color: #303030;
    --main-states-indicator-color: #FFFFFF;
    --main-border-color: #ABABAB;
    --secondary-border-color: #4d4d4d;
    --main-shadow-color: rgba(0, 0, 0, .2);
    --marine: #335DCB;
    --blue: #3496E0;
    --olive: #33AA33;
    --green: #79B220;
    --amber: #BA7D1C;
    --yellow: #E5AD30;
    --red: #B22222;
    --orange: #D15415;
    --pink: #D3318D;
    --salmon: #E05570;
    --purple: #6B4AD1;
    --violet: #AE3CD3;
    --main-color: var(--marine);
}

.md-ripples .ripple {
    background-color: #FFFFFF;
    opacity: .08;
}

@mixin light-theme {
    &.light-theme {
        --main-background: #f7f9ff;
        --highlight-background: #dee0e7;
        --light-highlight-color: #ffffff;
        --main-text-color: #292929;
        --secondary-text-color: #5e5e5e;
        --main-border-color: #ABABAB;
        --secondary-border-color: #dadada;
        --main-states-indicator-color: #000000;

        & .md-ripples .ripple {
            background-color: #000000;
        }
    }
}

@mixin colors {
    &.marine {
        --main-color: var(--marine);
    }

    &.blue {
        --main-color: var(--blue);
    }

    &.olive {
        --main-color: var(--olive);
    }

    &.green {
        --main-color: var(--green);
    }

    &.amber {
        --main-color: var(--amber);
    }

    &.yellow {
        --main-color: var(--yellow);
    }

    &.red {
        --main-color: var(--red);
    }

    &.orange {
        --main-color: var(--orange);
    }

    &.pink {
        --main-color: var(--pink);
    }

    &.salmon {
        --main-color: var(--salmon);
    }

    &.purple {
        --main-color: var(--purple);
    }

    &.violet {
        --main-color: var(--violet);
    }
}
