@mixin statesIndicator {
    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--main-states-indicator-color);
        opacity: 0;
        transition: opacity .1s linear;
    }

    &:hover::after {
        opacity: .08;
    }

    &:focus-visible::after {
        opacity: .12;
    }
}
