.navbar {
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212121;
    overflow: auto;
}

.logoContainer {
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
}

.logo {
    max-width: 240px;
    height: 135px;
    object-fit: contain;
}

.navLinks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navLink {
    width: 100%;
    height: 50px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #FFFFFF;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        opacity: 0;
    }

    &:hover::after {
        opacity: .12;
    }

    &:global.active {
        color: #335DCB;
        border-left: 2px solid #335DCB;
        padding-left: 12px;
        background-color: #121212;
        cursor: default;

        &:hover::after {
            opacity: 0;
        }
    }
}

.linkIcon {
    margin-right: 8px;
}

.bottomLinks {
    margin-top: auto;
}
