.select-component {
    min-width: 20rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    &.focused {
        .select-container {
            border-color: var(--main-color);
            box-shadow: 0 0 0 .1rem inset var(--main-color);
        }

        .select-icon, .select-label {
            color: var(--main-color);
        }
    }
}

.select-container {
    width: 100%;
    display: flex;
    align-items: center;
    border: .1rem solid var(--main-border-color);
    border-radius: .5rem;

    &:hover {
        border-color: var(--main-text-color);
    }
}

.select {
    width: 100%;
    padding: 1.4rem;
    padding-right: 4rem;
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--main-text-color);
    user-select: none;
    cursor: pointer;
}

.select-icon {
    width: 4rem;
    position: absolute;
    right: 0;
    color: var(--secondary-text-color);
    pointer-events: none;
}

.select-dropdown {
    width: 100%;
    padding: .5rem 0;
    border-radius: .5rem;
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--light-highlight-color);
    box-shadow: 0 .2rem .6rem var(--main-shadow-color);

    > * {
        padding: 1.6rem 2rem;
        cursor: pointer;
        
    }
}
