@import 'scss/normalize.scss';

*, *::after, *::before {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  min-height: 100vh;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}
