.input-component {
    min-width: 20rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    &.leading {
        .input, .input-label-container {
            padding-left: 4rem;
        }

        .input-label label {
            left: 4rem;
        }
    }

    &.trailing {
        .input, .input-label-container {
            padding-right: 4rem;
        }
    }

    &.focused {
        .input-container {
            border-color: var(--main-color);
            box-shadow: 0 0 0 .1rem inset var(--main-color);
        }

        .input-label {
            color: var(--main-color);
        }
    }

    &.invalid {
        .input-container {
            border-color: var(--red);
            box-shadow: 0 0 0 .1rem inset var(--red);
        }

        .input-label, input-helper {
            color: var(--red);
        }
    }
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    border: .1rem solid var(--main-border-color);
    border-radius: .5rem;

    &:hover {
        border-color: var(--main-text-color);
    }
}

.input-leading-icon, .input-trailing-icon {
    width: 2.2rem;
    position: absolute;
}

div.input-leading-icon, div.input-trailing-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-leading-icon {
    left: 1rem;
}

.input-trailing-icon {
    right: 1rem;

    &.invalid {
        color: var(--red);
    }
}

.input {
    width: 100%;
    padding: 1.4rem;
    border: none;
    font-size: 1.6rem;
    background-color: transparent;
    color: var(--main-text-color);
}

.input-helper-container {
    height: 2.6rem;
    padding: .6rem 1.4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.3rem;
    color: var(--secondary-text-color);
}
